<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Synth</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/png" sizes="174x174" href="./favicon.png">
	<!-- <link rel="stylesheet" href="../css/styles.css"> -->
	<script src="scripts/lib/Tone.js"></script>
	<script src="scripts/lib/two.min.js"></script>
	<script src="scripts/theory/music.js"></script>
	<script src="scripts/modules/arpeggiator.js"></script>
</head>
<body>
	<!-- <style>
	</style> -->
	<div id="draw-shapes"></div>
	<!-- TODO add objects to manipulate oscillators, filters, envelopes etc. -->
</body>
</html>